<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="false" />
    <httpRuntime maxRequestLength="2097151"/>
    <!--<authentication mode="Forms">
      <forms loginUrl="Login/Login.aspx"
				   protection="All"
				   timeout="30"
				   name=".ASPXAUTH"
				   path="/"
				   requireSSL="false"
				   slidingExpiration="true"
				   defaultUrl="Voyage/VOfun01a.asp"
				   cookieless="UseDeviceProfile"
				   enableCrossAppRedirects="false" />
    </authentication>-->
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=edge,chrome=1" />
        <!--<add name="X-UA-Compatible" value="IE=EmulateIE7" />-->
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>

